#table {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#table td, #table th {
    width: 200px;
    border: 1px solid #ddd;
    padding: 8px;
}
  
#table tr:nth-child(even){background-color: #f2f2f2;}
  
#table tr:hover {background-color: #ddd;}
  
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.add-margin-left {
    font-size: 16px;
    width: 700px;
    margin-left: 20px;
}

.mat-form-field.mat-form-field {
    font-size: 16px;
    width: 700px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.progress-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
}

.progress {
    width: 500px;
    height: 20px;
    margin: 0px 10px;
    text-align: center;
}

.card {
    width: 550px;
    margin-left: 480px;
}